<h2>Estadísticas</h2>
<p>Nº de preguntas: <%= stats.num_quizes %></p>
<p>Nº de comentarios totales: <%= stats.num_comments %></p>
<p>Nº medio de comentarios por pregunta: <%= stats.avg_comments %></p>
<p>Nº de preguntas sin comentarios: <%= stats.without_comment %></p>
<p>Nº de preguntas con comentarios: <%= stats.with_comment %></p>
